@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
}
:root {
    --primary: #C25757;
    --secondary: #E5E5E5;
    --third: #000000;
}
 header {
     display flex;
 }