@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
}
:root {
    --primary: #C25757;
    --secondary: #E5E5E5;
    --third: #000000;
}
 header {
     display: flex;
     border-bottom: 0.5rem solid var(--primary);
 }
 header picture img{
   height: 4rem;
 }
 header nav{
     width: 100%;
     display: flex;
     justify-content: flex-end;
 }
 header nav ul {
     list-style-type: none;
     display: flex;
     align-items: center;
 }
 header nav ul li {
     margin: 0 1.5rem;
 }
 header nav ul li a {
     text-decoration: none;
     font-size: 1.2rem;
     color: #000000;
 }
 main{
     min-height: 70vh;
 }
 footer {
     background-color: #C25757;
     height: 4rem; 
     display: flex;
     align-items: center;
 }
 main picture img{
     display:block;
     margin-left: auto;
     margin-right: auto;
     align-items:center;
 }
 main picture ul li img{
    list-style-type: none;
    display: flex;
    align-items: center;
    display:flex;
    justify-content: space-between;
 }
 main div{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin:10rem;
 }
 footer div svg{
    width:"40";
    height:"40";
    fill:"none";
 }


 /* Specific Login */
main > section.auth {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  main > section.auth > h1 {
    color: var(--primary);
    font-weight: 500;
    margin-bottom: 2rem;
    font-size: 2rem;
  }
 main > section.auth > form {
    background-color:#C25757;
    border: 0.2rem solid var(--third);
    border-radius: 1rem;
    padding: 1.5rem;
  }
  main > section.auth > form > div {
    background-color:aliceblue;
    border: 0.15rem solid var(--third);
    border-radius: 0.6rem;
    display: flex;
    margin: 0.5rem 0;
  }
  main > section.auth > form > div > img {
    height: 2.5rem;
    padding: 0.3rem;
  }
  main > section.auth > form > div > input {
    width: 100%;
    font-size: 1rem;
    border: 0;
    background-color: transparent;
  }
  main > section.auth > form > p > a {
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
  }
  main > section.auth > form > p > button {
    background-color: var(--third);
    color: var(--white);
    padding: 0.6rem;
    border: 0;
    border-radius: 0.6rem;
    width: 5rem;
    margin-left: 0.5rem;
  }