@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    font-weight: 300;
    box-sizing: border-box;
}
:root {
    --primary: #C25757;
    --secondary: #E5E5E5;
    --third: #000000;
}
 header {
     display: flex;
     border-bottom: 0.5rem solid var(--primary);
 }
 header picture img{
   height: 4rem;
 }
 header nav{
     width: 100%;
     display: flex;
     justify-content: flex-end;
 }
 header nav ul {
     list-style-type: none;
     display: flex;
     align-items: center;
 }
 header nav ul li {
     margin: 0 1.5rem;
 }
 header nav ul li a {
     text-decoration: none;
     font-size: 1.2rem;
     color: #000000;
 }
 main{
     min-height: 70vh;
 }
 footer {
     background-color: #C25757;
     height: 4rem; 
     display: flex;
     align-items: center;
 }
 main picture img{
     display:block;
     margin-left: auto;
     margin-right: auto;
 }
 main picture ul li img{
    list-style-type: none;
    display: flex;
    align-items: center;
 }